@use "../general/variables" as v;
@use "../general/mixins" as m;

.footer {
  border-top: 1px solid v.$brown;
  margin-top: 5rem;
  padding-top: 3rem;

  p {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.9rem;
    font-style: italic;
    
    @include m.tablet {
      margin-top: 3rem;
    }
  }

  .grid-footer {
    display: grid;
    text-align: center;
    gap: 2rem;

    @include m.tablet {
      grid-template-columns: repeat(3, 1fr);

      li {
        margin-top: 1rem;
      }

      a:hover {
        color: v.$brown;
      }
    }
  }
}
