@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    @include m.bgImage('../img/header.webp', v.$secondary-opacity);
    padding: 5rem 0;

    &__logo {
        max-width: 20rem;
        margin: 0 auto;

        @include m.tablet {
            margin: 0;
        }
    }

    &__content {
        padding: 10rem 0;

        @include m.tablet {
            padding: 15rem 0;
        }
    }

    &__title {
        color: v.$white;
        font-size: 4.5rem;
        text-align: center;
        margin-bottom: 2.5rem;

        @include m.tablet {
            font-size: 6rem;
            max-width: 50%;
            text-align: left;
        }

        // @include m.desktop {
        //     max-width: 40%;
        //     font-size: 8rem;
        // }
    }
}