// Colors

$primary: #6834a6;
$white: #ffffff;
$black: #111111;

// Fonts

$main-font: "Poppins", sans-serif;

// Media Queries: Phone, Tablet, Desktop

$phone: 480px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1280px;
$desktopXL: 1440px;

// Units

$separator: 5rem;