// Colors

$white: #ffffff;
$black: #111111;
$gray: #344a40;

// Fonts

$main-font: "Raleway", sans-serif;

// Media Queries: Phone, Tablet, Desktop

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1200px;

// Units

$separator: 5rem;