@use 'variables' as v;

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin button($color, $texto) {
    background-color: $color;
    font-size: 2rem;
    padding: 1.2rem 4rem;
    font-weight: 700;
    display: block;
    width: 100%;
    text-align: center;
    color: $texto;
    text-decoration: none;
    transition: background-color .3s ease;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: darken($color, 10);
    }

    @include tablet {
        width: auto;
        display: inline-block;

    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin bgImage($url, $gradientColor) {
    background-image: linear-gradient($gradientColor 0%, $gradientColor 100%), url($url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@mixin borderTitle($textColor, $borderColor) {
    font-size: 3.6rem;
    display: inline-block;
    margin-top: 5rem;
    color: $textColor;

    @include tablet {
        margin-top: 0;
    }

    &::after {
        content: '';
        background-color: $borderColor;
        display: block;
        width: calc(100% + 1rem);
        height: 1rem;
        margin: -1.4rem 0 0 0;
    }
}

@mixin bgIcon($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: 50% 2rem;
    background-size: 10rem;
}