@use 'general/variables' as v;
@use 'general/mixins' as m;

.footer {
    padding: 3rem 0 0 0;

    .nav {
        justify-content: start;
    }

    &__copyright {
        padding: 2rem;
        margin: 0;
        text-align: center;

        @include m.tablet {
            padding: 0 0 2rem 0;
        }
    }
}