@use "../general/variables" as v;
@use "../general/mixins" as m;

.header{
    padding: 5rem 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    @include m.tablet {
        min-height: 70rem;
    }

    &::before{
        content: '';
        position: absolute;
        background-color: v.$black;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .6;
    }

    &--home{
        background-image: url("../img/header_inicio.jpg");
    }

    &--about{
        background-image: url("../img/header_nosotros.jpg");
    }

    &--process{
        background-image: url("../img/header_proceso.jpg");
    }

    &__content{
        position: relative;
    }

    &__text h1{
        margin-top: 5rem;
        text-align: center;
        text-transform: uppercase;

        @include m.tablet {
            margin-top: 10rem;
        }
    }
}