/* About Us */

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
  justify-items: center;
  align-items: center;
}

.about-info {
  display: flex;
  flex-direction: column;
}

/* Shop */

.list-products-shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product-shop {
  background-color: var(--gray);
}

.product-text-shop {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.product-text-shop .product-price {
  font-size: 2rem;
}

/* .lds-ring {
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;
  width: 8rem;
  height: 8rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  margin: .8rem;
  border: .8rem solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--brown) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* Blog */

.blog-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

.blog-article {
  border-bottom: 1px solid var(--brown);
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.blog-article:last-of-type {
  border-bottom: none;
}

.meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta span {
  font-weight: bold;
  color: var(--brown);
}

.btn-blog {
  display: flex;
  justify-content: end;
}

.btn-blog a {
  margin: 0 2rem;
}

.aside li {
  margin: 2rem 1rem;
  text-decoration: underline;
}

/* Form*/

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  font-size: 1.8rem;
  margin-top: 4rem;
}

.personal-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

label {
  display: flex;
  flex-direction: column;
}

fieldset {
  padding: 2rem;
  border-color: var(--gray);
}

legend {
  font-size: 2.7rem;
  padding: 0 1rem;
  text-align: center;
  color: var(--brown);
}

.personal-info input {
  margin-top: 1rem;
  padding: 1.1rem;
}

.personal-info label:nth-child(1) {
  grid-column: span 2;
}

.reason-contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
}

.reason-contact textarea {
  margin-top: 1rem;
  height: 6rem;
  padding: 1rem;
  resize: none;
}

.reason-contact #reason-input {
  padding: 1.1rem;
  margin-top: 1rem;
}

.contact-preferences {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-preferences input {
  padding: 0.7rem;
}

.terms-conditions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.terms-conditions label {
  flex-direction: row;
}

#terms {
  margin-right: 1rem;
}

.terms-conditions input {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 3px solid var(--brown);
  border-radius: 1rem;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 900;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.terms-conditions input:hover {
  background-color: var(--brown);
}

.btn {
  color: var(--white);
  display: block;
  border: 3px solid var(--brown);
  margin: 2rem;
  transition: background-color 0.3s ease-in-out;
}

/* El contenedor del radio */
.container-radio {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Ocultar el input de tipo radio original */
.container-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: -0.2rem;
  left: 0;
  height: 2.2rem;
  width: 2.2rem;
  background-color: var(--white);
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background-color: var(--brown);
}

.terms {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.terms input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.2rem;
  width: 2.2rem;
  background-color: var(--white);
  border: 2px solid var(--gray);
}

.terms input:checked ~ .checkmark-checkbox {
  background-color: var(--brown);
}

input,
textarea {
  background-color: var(--gray);
  border: none;
  border-radius: 0.8rem;
  color: var(--white);
}

input:focus,
textarea:focus {
  outline: 2px solid var(--brown);
}