:root {
  --brown: #ba8449;
  --black: #1b1717;
  --gray: #3e3939;
  --white: #ffffff;
  --global-font: "Ubuntu", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body::-webkit-scrollbar {
  width: 12px; /* ancho de la barra de desplazamiento */
}

body::-webkit-scrollbar-track {
  background: var(--gray); /* color del área de desplazamiento */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--brown); /* color del botón de desplazamiento */
  /* border-radius: 20px;       redondez del botón de desplazamiento */
  /* border: 3px solid orange;  relleno alrededor del botón de desplazamiento */
}

/* Global */

body {
  background-color: var(--black);
  color: var(--white);
  font-size: 1.6rem;
  font-family: var(--global-font);
}

a {
  text-decoration: none;
  color: var(--white);
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
  margin-inline: auto;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  text-align: center;
}

img {
  max-width: 100%;
  display: block; /* para que no se muestre con un espacio abajo */
}

/* Header */

.title {
  color: var(--white);
  text-align: center;
  margin: 2rem 0;
}

.title span {
  color: var(--brown);
}

.navigation {
  border-top: 1px solid var(--brown);
  padding: 2rem;
  font-size: 1.8rem;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a:hover {
  color: var(--brown);
}

.hero {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 55rem;
}

/* Utilities */

.text-start {
  text-align: start;
}

.btn {
  color: var(--white);
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: inline-block;
  border: 3px solid var(--brown);
  margin: 2rem;
  font-weight: 900;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--brown);
}

/* Categories */

.list-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.categories h2 {
  margin: 4rem 0;
}

.category a {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 1.6rem;
  border-radius: 0 0 1rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

.category:hover a {
  background-color: var(--brown);
}

.img img {
  transition: transform 0.3s ease-in-out;
}

.category:hover img {
  transform: scale(1.1);
}

.img {
  overflow: hidden;
}

/* About Us */

.about-us {
  background-image: linear-gradient(to right, transparent 50%, var(--brown) 50%),
    url(../img/product1.webp);
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  background-position: left center;
  margin-top: 5rem;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
  text-align: center;
}

.about-text {
  grid-column: 2 / 3;
}

.about-text h2,
.about-text p:last-of-type {
  margin: 0;
}

/* List of products */

.main-content {
  margin-top: 5rem;
}

.product {
  background-color: var(--gray);
}

.product-text h3 {
  margin: 1rem;
  font-size: 3rem;
}

.product-text p {
  margin: 0 0 0.5rem 0;
}

.product-text {
  text-align: center;
}

.product-text .product-price {
  font-size: 2.8rem;
  font-weight: 900;
  margin-top: 2rem;
}

.product {
  position: relative;
  width: 100%;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-text {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: #3e39393e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transition: backdrop-filter 0.8s, opacity 0.3s linear;
}

.product-text:hover {
  opacity: 1;
  backdrop-filter: blur(10px);
}

.list-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product:nth-child(1) {
  grid-column: span 3;
  grid-row: span 2;
}

.product:nth-child(6) {
  grid-column: 2 / 5;
  grid-row: 3 / 5;
}

.product:nth-child(10) {
  grid-column: span 1;
  grid-row: 5 / 6;
}

/* Footer */

.footer {
  border-top: 1px solid var(--brown);
  margin-top: 5rem;
  padding-top: 3rem;
}

/* Copyright */

.footer p {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.9rem;
  font-style: italic;
}

.grid-footer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.grid-footer li {
  margin-top: 1rem;
}

.grid-footer a:hover {
  color: var(--brown);
}

/* About Us */

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
  justify-items: center;
  align-items: center;
}

.about-info {
  display: flex;
  flex-direction: column;
}

/* Shop */

.list-products-shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product-shop {
  background-color: var(--gray);
}

.product-text-shop {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.product-text-shop .product-price {
  font-size: 2rem;
}

/* .lds-ring {
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;
  width: 8rem;
  height: 8rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 6.4rem;
  height: 6.4rem;
  margin: .8rem;
  border: .8rem solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--brown) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

