.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
  justify-items: center;
  align-items: center;
  
  .about-info {
    display: flex;
    flex-direction: column;
  }
}