// Colors

$primary: #5E311E;
// $primary: #E8505B;
$secondary: #C39C63;
$secondary-light: #EBE7DE;
$black: #000000;
$light-gray: #ECEEEF;
$white: #ffffff;
$main-font: 'Roboto', sans-serif;


// Media Queries: Phone, Tablet, Desktop

$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXL: 1440px;

// Units

$separator: 5rem;