@use "../general/variables" as v;
@use "../general/mixins" as m;

.add-to-cart {
  background-image: linear-gradient(to bottom, transparent 50%, v.$white 0%),
    url(../../assets/img/form.avif);
  // background-size: auto auto;
  background-repeat: no-repeat;
  background-position: center, center -65%;
  color: v.$black;

  @include m.desktop {
    background-image: linear-gradient(to right, transparent 50%, v.$white 0%),
      url(../../assets/img/form.avif);
      background-size: 100% auto;
      background-position: center, -28rem center;
      height: 50rem;
  }

  @include m.desktopXL {
    background-position: center, -45rem center;
  }

  &__grid {
    display: grid;
    grid-template-rows: repeat(2, 50rem);
    .add-to-cart__content {
      grid-row: 2 / 3;
    }
    @include m.desktop {
      grid-template-rows: unset;
      grid-template-columns: repeat(2, 1fr);
      .add-to-cart__content {
        grid-column: 2 / 3;
      }
      
    }
  }
}
