// Fuentes
$mainFont: 'Outfit', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primary: #e99401;
$secondary: #c7c57d;
$black: #262626;
$white: #FFFFFF;
$gray: #f5f5f5;