@use './variables' as v;

.text-start {
  text-align: start;
}

.btn {
  color: v.$white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: block;
  border: 3px solid v.$brown;
  margin: 2rem;
  font-weight: 900;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: v.$brown;
  }
}
