@use '../general/variables' as v;

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: v.$primary;
}

.mt--10 {
    margin-top: -10rem;
}

.bg-white {
    background-color: v.$white;
}

.pb-0 {
    padding-bottom: 0;
}